<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="gai.Properties.Settings.gaiDBConnectionString" connectionString="Data Source=DESKTOP-9R3H4TU\SQLEXPRESS;Initial Catalog=gaiDB;Integrated Security=True"
            providerName="System.Data.SqlClient" />
        <add name="gai.Properties.Settings.gaidatabaseConnectionString"
            connectionString="Data Source=DESKTOP-9R3H4TU\SQLEXPRESS;Initial Catalog=gaidatabase;Integrated Security=True"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
</configuration>